doctype html
html
  head
    title Title

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', type='text/css', href='/css/plugins.min.css')
    block styles

  body
    block content

    script(type='text/javascript', src='/js/plugins.min.js')
    block scripts